USE [ESC]
GO
/****** Object:  Table [dbo].[BOLETO]    Script Date: 16/01/2020 19:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOLETO](
	[IDBOLETO] [int] IDENTITY(1,1) NOT NULL,
	[IDOPERACAO] [int] NOT NULL,
	[DATAVENCIMENTO] [date] NOT NULL,
	[VALOR] [money] NOT NULL,
	[DATARECEBIMENTO] [date] NULL,
 CONSTRAINT [PK_BOLETO] PRIMARY KEY CLUSTERED 
(
	[IDBOLETO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOLETOHISTORICO]    Script Date: 16/01/2020 19:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOLETOHISTORICO](
	[IDBOLETO] [int] NOT NULL,
	[IDBOLETOHISTORICO] [int] IDENTITY(1,1) NOT NULL,
	[IDBOLETOTIPOHISTORICO] [int] NOT NULL,
	[DATAHISTORICO] [datetime] NOT NULL,
	[DESCRICAO] [nvarchar](500) NOT NULL,
	[IDUSUARIO] [int] NOT NULL,
 CONSTRAINT [PK_BOLETOHISTORICO] PRIMARY KEY CLUSTERED 
(
	[IDBOLETOHISTORICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOLETOTIPOHISTORICO]    Script Date: 16/01/2020 19:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOLETOTIPOHISTORICO](
	[IDBOLETOTIPOHISTORICO] [int] IDENTITY(1,1) NOT NULL,
	[TIPOHISTORICO] [int] NOT NULL,
 CONSTRAINT [PK_BOLETOTIPOHISTORICO] PRIMARY KEY CLUSTERED 
(
	[IDBOLETOTIPOHISTORICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 16/01/2020 19:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[IDCLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [nvarchar](100) NOT NULL,
	[NOMEFANTASIA] [nvarchar](100) NOT NULL,
	[CNPJ] [nchar](14) NOT NULL,
	[ENDERECO] [nvarchar](100) NOT NULL,
	[CIDADE] [nvarchar](50) NOT NULL,
	[UF] [nchar](2) NOT NULL,
	[CAPITALSOCIAL] [money] NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[SENHA] [nvarchar](15) NOT NULL,
	[DATAHORACADASTRO] [datetime] NOT NULL,
	[EMAILCONFIRMADO] [bit] NOT NULL,
	[DATAHORACONFIRMACAO] [datetime] NULL,
	[ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTEDADOBANCARIO]    Script Date: 16/01/2020 19:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTEDADOBANCARIO](
	[IDCLIENTE] [int] NOT NULL,
	[IDDADOBANCARIO] [int] IDENTITY(1,1) NOT NULL,
	[NUMBANCO] [nvarchar](3) NOT NULL,
	[BANCO] [nvarchar](50) NOT NULL,
	[AGENCIA] [nvarchar](6) NOT NULL,
	[CONTA] [nvarchar](15) NOT NULL,
	[IDTIPOCONTA] [int] NOT NULL,
	[ATIVO] [int] NOT NULL,
 CONSTRAINT [PK_CLIENTEDADOSBANCARIOS] PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC,
	[IDDADOBANCARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTESOCIO]    Script Date: 16/01/2020 19:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTESOCIO](
	[IDCLIENTE] [int] NOT NULL,
	[IDSOCIOCLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [nvarchar](100) NOT NULL,
	[CPF] [nvarchar](11) NOT NULL,
	[TELEFONE] [nvarchar](30) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[ENDERECO] [nvarchar](100) NOT NULL,
	[CIDADE] [nvarchar](50) NOT NULL,
	[UF] [nchar](2) NOT NULL,
	[CEP] [nvarchar](10) NOT NULL,
	[PARTICIPACAO] [decimal](18, 0) NOT NULL,
	[ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_CLIENTESOCIO] PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC,
	[IDSOCIOCLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTABILIDADE]    Script Date: 16/01/2020 19:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTABILIDADE](
	[IDEMPRESA] [int] NOT NULL,
	[IDCONTABILIDADE] [int] IDENTITY(1,1) NOT NULL,
	[DATA] [date] NOT NULL,
	[IDCONTAORIGEM] [int] NOT NULL,
	[IDCONTADESTINO] [int] NOT NULL,
	[VALOR] [money] NULL,
 CONSTRAINT [PK_CONTABILIDADE] PRIMARY KEY CLUSTERED 
(
	[IDEMPRESA] ASC,
	[IDCONTABILIDADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTACONTABIL]    Script Date: 16/01/2020 19:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACONTABIL](
	[IDCONTACONTABIL] [int] IDENTITY(1,1) NOT NULL,
	[TIPOCONTACONTABIL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CONTACONTABIL] PRIMARY KEY CLUSTERED 
(
	[IDCONTACONTABIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPRESA]    Script Date: 16/01/2020 19:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESA](
	[IdEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NULL,
	[NomeFantasia] [nvarchar](50) NULL,
	[CNPJ] [nvarchar](50) NULL,
	[Endereco] [nvarchar](100) NULL,
	[Cidade] [nvarchar](50) NULL,
	[UF] [nvarchar](2) NULL,
	[CEP] [nvarchar](12) NULL,
	[Telefone] [nvarchar](20) NULL,
	[email] [nvarchar](50) NULL,
	[CapitalSocial] [money] NULL,
	[Ativo] [bit] NULL,
 CONSTRAINT [PK_EMPRESA] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPRESADADOBANCARIO]    Script Date: 16/01/2020 19:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESADADOBANCARIO](
	[IdEmpresa] [int] NOT NULL,
	[IdDadoBancario] [int] IDENTITY(1,1) NOT NULL,
	[NumBanco] [int] NULL,
	[NomeBanco] [nvarchar](50) NULL,
	[NumAgencia] [nchar](10) NULL,
	[NumConta] [nvarchar](20) NULL,
	[IdTipoConta] [int] NULL,
	[Ativo] [bit] NULL,
 CONSTRAINT [PK_EMPRESADADOSBANCARIOS] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC,
	[IdDadoBancario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPRESASALDO]    Script Date: 16/01/2020 19:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESASALDO](
	[IDEMPRESA] [int] NOT NULL,
	[IDSALDO] [int] IDENTITY(1,1) NOT NULL,
	[DATA] [date] NOT NULL,
	[SALDO] [money] NOT NULL,
 CONSTRAINT [PK_EMPRESASALDO] PRIMARY KEY CLUSTERED 
(
	[IDSALDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPRESASOCIO]    Script Date: 16/01/2020 19:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESASOCIO](
	[IDEMPRESA] [int] NOT NULL,
	[IDSOCIOEMPRESA] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [nvarchar](100) NOT NULL,
	[CPF] [nvarchar](11) NOT NULL,
	[TELEFONE] [nvarchar](30) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[ENDERECO] [nvarchar](100) NOT NULL,
	[CIDADE] [nvarchar](50) NOT NULL,
	[UF] [nchar](2) NOT NULL,
	[CEP] [nvarchar](10) NOT NULL,
	[ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_EMPRESASOCIO] PRIMARY KEY CLUSTERED 
(
	[IDEMPRESA] ASC,
	[IDSOCIOEMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODALIDADE]    Script Date: 16/01/2020 19:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODALIDADE](
	[IDEMPRESA] [int] NOT NULL,
	[IDMODALIDADE] [int] IDENTITY(1,1) NOT NULL,
	[QUANTIDADEMINIMAPARCELA] [int] NOT NULL,
	[QUANTIDADEMAXIMAPARCELA] [int] NOT NULL,
	[VALORMINIMOCONTRATO] [money] NOT NULL,
	[VALORMAXIMOCONTRATO] [money] NOT NULL,
	[TAXAJURO] [decimal](18, 0) NOT NULL,
	[TAXAMORA] [decimal](18, 0) NOT NULL,
	[TAXAMULTA] [decimal](18, 0) NOT NULL,
	[IDMODELO] [int] NOT NULL,
	[ENVIOSMSANTESVENCIMENTO] [bit] NOT NULL,
	[DIASSMSANTESVENCIMENTO] [int] NOT NULL,
	[ENVIOSMSAPOSVENCIMENTO] [bit] NOT NULL,
	[DIASSMSAPOSVENCIMENTO] [int] NOT NULL,
	[CONSULTASCORESERASA] [bit] NOT NULL,
	[SCOREMINIMOSERASA] [int] NOT NULL,
	[ATIVO] [bigint] NOT NULL,
 CONSTRAINT [PK_MODALIDADE] PRIMARY KEY CLUSTERED 
(
	[IDMODALIDADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODELOCONTRATO]    Script Date: 16/01/2020 19:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODELOCONTRATO](
	[IDEMPRESA] [int] NULL,
	[IDMODELO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAOMODELO] [text] NOT NULL,
	[ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_MODELOCONTRATO] PRIMARY KEY CLUSTERED 
(
	[IDMODELO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERACAO]    Script Date: 16/01/2020 19:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERACAO](
	[IDEMPRESA] [int] NOT NULL,
	[IDOPERACAO] [int] IDENTITY(1,1) NOT NULL,
	[IDCLIENTE] [int] NOT NULL,
	[IDMODALIDADE] [int] NOT NULL,
	[VALORCONTRATO] [money] NOT NULL,
	[VALORIOF] [money] NOT NULL,
	[DATACONTRATO] [date] NOT NULL,
	[VALORPARCELA] [money] NOT NULL,
	[QUANTIDADEPARCELA] [int] NOT NULL,
	[TAXAJUROS] [decimal](18, 0) NOT NULL,
	[TAXAMORA] [decimal](18, 0) NOT NULL,
	[TAXAMULTA] [decimal](18, 0) NOT NULL,
	[VENCIMENTO] [date] NOT NULL,
	[SCORESERASA] [int] NOT NULL,
	[IDSITUACAOOPERACAO] [int] NULL,
 CONSTRAINT [PK_OPERACAO] PRIMARY KEY CLUSTERED 
(
	[IDOPERACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERACAOHISTORICO]    Script Date: 16/01/2020 19:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERACAOHISTORICO](
	[IDOPERACAO] [int] NOT NULL,
	[IDHISTORICOOPERACAO] [int] IDENTITY(1,1) NOT NULL,
	[IDTIPOHISTORICO] [int] NOT NULL,
	[IDUSUARIO] [int] NOT NULL,
	[DATA] [date] NOT NULL,
	[DESCRICAO] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_OPERACAOHISTORICO] PRIMARY KEY CLUSTERED 
(
	[IDHISTORICOOPERACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERACAOPARCELA]    Script Date: 16/01/2020 19:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERACAOPARCELA](
	[IDOPERACAO] [int] NOT NULL,
	[NUMPARCELA] [int] NOT NULL,
	[DATAVENCIMENTO] [date] NOT NULL,
	[VALORPARCELA] [money] NOT NULL,
	[VALORAMORTIZACAO] [money] NOT NULL,
	[VALORJUROS] [money] NOT NULL,
	[IDSITUACAOPARCELA] [int] NOT NULL,
	[DATAPAGAMENTO] [date] NULL,
 CONSTRAINT [PK_OPERACAOPARCELA] PRIMARY KEY CLUSTERED 
(
	[IDOPERACAO] ASC,
	[NUMPARCELA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERACAOSALDO]    Script Date: 16/01/2020 19:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERACAOSALDO](
	[IDOPERACAO] [int] NULL,
	[IDSALDO] [int] IDENTITY(1,1) NOT NULL,
	[DATA] [date] NOT NULL,
	[SALDO] [money] NOT NULL,
 CONSTRAINT [PK_OPERACAOSALDO] PRIMARY KEY CLUSTERED 
(
	[IDSALDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISSAO]    Script Date: 16/01/2020 19:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISSAO](
	[IDEMPRESA] [int] NOT NULL,
	[IDPERMISSAO] [int] IDENTITY(1,1) NOT NULL,
	[PERMISSAO] [nvarchar](50) NOT NULL,
	[ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_PERMISSAO] PRIMARY KEY CLUSTERED 
(
	[IDPERMISSAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGISTRADORA]    Script Date: 16/01/2020 19:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGISTRADORA](
	[IDREGISTRADORA] [int] IDENTITY(1,1) NOT NULL,
	[REGISTRADORA] [nvarchar](100) NOT NULL,
	[ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_REGISTRADORA] PRIMARY KEY CLUSTERED 
(
	[IDREGISTRADORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIMULACAO]    Script Date: 16/01/2020 19:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIMULACAO](
	[IDEMPRESA] [int] NOT NULL,
	[IDSIMULACAO] [int] IDENTITY(1,1) NOT NULL,
	[IDCLIENTE] [int] NOT NULL,
	[IDMODALIDADE] [int] NOT NULL,
	[VALORCONTRATO] [money] NOT NULL,
	[VALORIOF] [money] NOT NULL,
	[DATASIMULACAO] [date] NOT NULL,
	[VALORPARCELA] [money] NOT NULL,
	[QUANTIDADEPARCELA] [int] NOT NULL,
	[TAXAJUROS] [decimal](18, 0) NOT NULL,
	[TAXAMORA] [decimal](18, 0) NOT NULL,
	[TAXAMULTA] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_SIMULACAO] PRIMARY KEY CLUSTERED 
(
	[IDSIMULACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIMULACAOPARCELA]    Script Date: 16/01/2020 19:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIMULACAOPARCELA](
	[IDSIMULACAO] [int] NOT NULL,
	[NUMPARCELA] [int] NOT NULL,
	[DATAVENCIMENTO] [date] NOT NULL,
	[VALORPARCELA] [money] NOT NULL,
	[VALORAMORTIZACAO] [money] NOT NULL,
	[VALORJUROS] [money] NOT NULL,
 CONSTRAINT [PK_SIMULACAOPARCELAS] PRIMARY KEY CLUSTERED 
(
	[IDSIMULACAO] ASC,
	[NUMPARCELA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SITUACAOOPERACAO]    Script Date: 16/01/2020 19:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SITUACAOOPERACAO](
	[IDSITUACAOOPERACAO] [int] IDENTITY(1,1) NOT NULL,
	[SITUACAOOPERACAO] [nvarchar](50) NULL,
 CONSTRAINT [PK_SITUACAOOPERACAO] PRIMARY KEY CLUSTERED 
(
	[IDSITUACAOOPERACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SITUACAOPARCELA]    Script Date: 16/01/2020 19:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SITUACAOPARCELA](
	[IDSITUACAOPARCELA] [int] IDENTITY(1,1) NOT NULL,
	[SITUACAOPARCELA] [int] NOT NULL,
 CONSTRAINT [PK_SITUACAOPARCELA] PRIMARY KEY CLUSTERED 
(
	[IDSITUACAOPARCELA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOCONTA]    Script Date: 16/01/2020 19:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOCONTA](
	[IDTIPOCONTA] [int] IDENTITY(1,1) NOT NULL,
	[DESCTIPOCONTA] [nvarchar](50) NULL,
 CONSTRAINT [PK_TIPOCONTA] PRIMARY KEY CLUSTERED 
(
	[IDTIPOCONTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOHISTORICO]    Script Date: 16/01/2020 19:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOHISTORICO](
	[IDTIPOHISTORICO] [int] IDENTITY(1,1) NOT NULL,
	[TIPOHISTORICO] [int] NOT NULL,
 CONSTRAINT [PK_TIPOHISTORICO] PRIMARY KEY CLUSTERED 
(
	[IDTIPOHISTORICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 16/01/2020 19:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpresa] [int] NOT NULL,
	[Nome] [nvarchar](50) NULL,
	[CPF] [nvarchar](50) NULL,
	[Login] [nvarchar](50) NULL,
	[Senha] [nvarchar](50) NULL,
	[DataCadastro] [datetime] NULL,
	[AutorizadorPor] [nvarchar](50) NULL,
	[DataAutorizacao] [datetime] NULL,
	[Ativo] [bit] NOT NULL,
	[Administrador] [bit] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOPERMISSAO]    Script Date: 16/01/2020 19:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOPERMISSAO](
	[IDEMPRESA] [int] NOT NULL,
	[IDPERMISSAO] [int] NOT NULL,
	[IDUSUARIO] [int] NOT NULL,
	[ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_USUARIOPERMISSAO] PRIMARY KEY CLUSTERED 
(
	[IDEMPRESA] ASC,
	[IDPERMISSAO] ASC,
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOLETO] ADD  CONSTRAINT [DF_BOLETO_VALOR]  DEFAULT ((0)) FOR [VALOR]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTES_DATAHORACADASTRO]  DEFAULT (getdate()) FOR [DATAHORACADASTRO]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTES_DATAHORACONFIRMACAO]  DEFAULT (getdate()) FOR [DATAHORACONFIRMACAO]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTES_ATIVO]  DEFAULT ((0)) FOR [ATIVO]
GO
ALTER TABLE [dbo].[CLIENTEDADOBANCARIO] ADD  CONSTRAINT [DF_CLIENTEDADOSBANCARIOS_ATIVA]  DEFAULT ((0)) FOR [ATIVO]
GO
ALTER TABLE [dbo].[CLIENTESOCIO] ADD  CONSTRAINT [DF_CLIENTESOCIO_ATIVO]  DEFAULT ((0)) FOR [ATIVO]
GO
ALTER TABLE [dbo].[EMPRESASALDO] ADD  CONSTRAINT [DF_EMPRESASALDO_SALDO]  DEFAULT ((0)) FOR [SALDO]
GO
ALTER TABLE [dbo].[EMPRESASOCIO] ADD  CONSTRAINT [DF_EMPRESASOCIO_ATIVO]  DEFAULT ((0)) FOR [ATIVO]
GO
ALTER TABLE [dbo].[MODALIDADE] ADD  CONSTRAINT [DF_MODALIDADE_QUANTIDADEMINIMAPARCELA]  DEFAULT ((0)) FOR [QUANTIDADEMINIMAPARCELA]
GO
ALTER TABLE [dbo].[MODALIDADE] ADD  CONSTRAINT [DF_MODALIDADE_QUANTIDADEMAXIMAPARCELA]  DEFAULT ((0)) FOR [QUANTIDADEMAXIMAPARCELA]
GO
ALTER TABLE [dbo].[MODALIDADE] ADD  CONSTRAINT [DF_MODALIDADE_VALORMINIMOCONTRATO]  DEFAULT ((0)) FOR [VALORMINIMOCONTRATO]
GO
ALTER TABLE [dbo].[MODALIDADE] ADD  CONSTRAINT [DF_MODALIDADE_VALORMAXIMOCONTRATO]  DEFAULT ((0)) FOR [VALORMAXIMOCONTRATO]
GO
ALTER TABLE [dbo].[MODALIDADE] ADD  CONSTRAINT [DF_MODALIDADE_TAXAJURO]  DEFAULT ((0)) FOR [TAXAJURO]
GO
ALTER TABLE [dbo].[MODALIDADE] ADD  CONSTRAINT [DF_MODALIDADE_TAXAMORA]  DEFAULT ((0)) FOR [TAXAMORA]
GO
ALTER TABLE [dbo].[MODALIDADE] ADD  CONSTRAINT [DF_MODALIDADE_TAXAMULTA]  DEFAULT ((0)) FOR [TAXAMULTA]
GO
ALTER TABLE [dbo].[MODALIDADE] ADD  CONSTRAINT [DF_MODALIDADE_ENVIOSMSANTESVENCIMENTO]  DEFAULT ((0)) FOR [ENVIOSMSANTESVENCIMENTO]
GO
ALTER TABLE [dbo].[MODALIDADE] ADD  CONSTRAINT [DF_MODALIDADE_DIASSMSANTESVENCIMENTO]  DEFAULT ((1)) FOR [DIASSMSANTESVENCIMENTO]
GO
ALTER TABLE [dbo].[MODALIDADE] ADD  CONSTRAINT [DF_MODALIDADE_ENVIOSMSAPOSVENCIMENTO]  DEFAULT ((0)) FOR [ENVIOSMSAPOSVENCIMENTO]
GO
ALTER TABLE [dbo].[MODALIDADE] ADD  CONSTRAINT [DF_MODALIDADE_DIASSMSAPOSVENCIMENTO]  DEFAULT ((1)) FOR [DIASSMSAPOSVENCIMENTO]
GO
ALTER TABLE [dbo].[MODALIDADE] ADD  CONSTRAINT [DF_MODALIDADE_CONSULTASCORESERASA]  DEFAULT ((0)) FOR [CONSULTASCORESERASA]
GO
ALTER TABLE [dbo].[MODALIDADE] ADD  CONSTRAINT [DF_MODALIDADE_SCOREMINIMOSERASA]  DEFAULT ((1)) FOR [SCOREMINIMOSERASA]
GO
ALTER TABLE [dbo].[MODALIDADE] ADD  CONSTRAINT [DF_MODALIDADE_ATIVA]  DEFAULT ((0)) FOR [ATIVO]
GO
ALTER TABLE [dbo].[MODELOCONTRATO] ADD  CONSTRAINT [DF_MODELOCONTRATO_ATIVO]  DEFAULT ((0)) FOR [ATIVO]
GO
ALTER TABLE [dbo].[PERMISSAO] ADD  CONSTRAINT [DF_PERMISSAO_ATIVO]  DEFAULT ((0)) FOR [ATIVO]
GO
ALTER TABLE [dbo].[USUARIOPERMISSAO] ADD  CONSTRAINT [DF_USUARIOPERMISSAO_ATIVA]  DEFAULT ((0)) FOR [ATIVO]
GO
ALTER TABLE [dbo].[BOLETO]  WITH CHECK ADD  CONSTRAINT [FK_BOLETO_OPERACAO] FOREIGN KEY([IDOPERACAO])
REFERENCES [dbo].[OPERACAO] ([IDOPERACAO])
GO
ALTER TABLE [dbo].[BOLETO] CHECK CONSTRAINT [FK_BOLETO_OPERACAO]
GO
ALTER TABLE [dbo].[BOLETOHISTORICO]  WITH CHECK ADD  CONSTRAINT [FK_BOLETOHISTORICO_BOLETO] FOREIGN KEY([IDBOLETO])
REFERENCES [dbo].[BOLETO] ([IDBOLETO])
GO
ALTER TABLE [dbo].[BOLETOHISTORICO] CHECK CONSTRAINT [FK_BOLETOHISTORICO_BOLETO]
GO
ALTER TABLE [dbo].[BOLETOHISTORICO]  WITH CHECK ADD  CONSTRAINT [FK_BOLETOHISTORICO_BOLETOTIPOHISTORICO] FOREIGN KEY([IDBOLETOTIPOHISTORICO])
REFERENCES [dbo].[BOLETOTIPOHISTORICO] ([IDBOLETOTIPOHISTORICO])
GO
ALTER TABLE [dbo].[BOLETOHISTORICO] CHECK CONSTRAINT [FK_BOLETOHISTORICO_BOLETOTIPOHISTORICO]
GO
ALTER TABLE [dbo].[CLIENTEDADOBANCARIO]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTEDADOBANCARIO_CLIENTE] FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTE] ([IDCLIENTE])
GO
ALTER TABLE [dbo].[CLIENTEDADOBANCARIO] CHECK CONSTRAINT [FK_CLIENTEDADOBANCARIO_CLIENTE]
GO
ALTER TABLE [dbo].[CLIENTEDADOBANCARIO]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTEDADOBANCARIO_TIPOCONTA] FOREIGN KEY([IDTIPOCONTA])
REFERENCES [dbo].[TIPOCONTA] ([IDTIPOCONTA])
GO
ALTER TABLE [dbo].[CLIENTEDADOBANCARIO] CHECK CONSTRAINT [FK_CLIENTEDADOBANCARIO_TIPOCONTA]
GO
ALTER TABLE [dbo].[CLIENTESOCIO]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTESOCIO_CLIENTE] FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTE] ([IDCLIENTE])
GO
ALTER TABLE [dbo].[CLIENTESOCIO] CHECK CONSTRAINT [FK_CLIENTESOCIO_CLIENTE]
GO
ALTER TABLE [dbo].[EMPRESADADOBANCARIO]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESADADOBANCARIO_EMPRESA] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[EMPRESA] ([IdEmpresa])
GO
ALTER TABLE [dbo].[EMPRESADADOBANCARIO] CHECK CONSTRAINT [FK_EMPRESADADOBANCARIO_EMPRESA]
GO
ALTER TABLE [dbo].[EMPRESASALDO]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESASALDO_EMPRESA] FOREIGN KEY([IDEMPRESA])
REFERENCES [dbo].[EMPRESA] ([IdEmpresa])
GO
ALTER TABLE [dbo].[EMPRESASALDO] CHECK CONSTRAINT [FK_EMPRESASALDO_EMPRESA]
GO
ALTER TABLE [dbo].[EMPRESASOCIO]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESASOCIO_EMPRESA] FOREIGN KEY([IDEMPRESA])
REFERENCES [dbo].[EMPRESA] ([IdEmpresa])
GO
ALTER TABLE [dbo].[EMPRESASOCIO] CHECK CONSTRAINT [FK_EMPRESASOCIO_EMPRESA]
GO
ALTER TABLE [dbo].[MODALIDADE]  WITH CHECK ADD  CONSTRAINT [FK_MODALIDADE_MODELOCONTRATO] FOREIGN KEY([IDMODELO])
REFERENCES [dbo].[MODELOCONTRATO] ([IDMODELO])
GO
ALTER TABLE [dbo].[MODALIDADE] CHECK CONSTRAINT [FK_MODALIDADE_MODELOCONTRATO]
GO
ALTER TABLE [dbo].[MODELOCONTRATO]  WITH CHECK ADD  CONSTRAINT [FK_MODELOCONTRATO_EMPRESA] FOREIGN KEY([IDEMPRESA])
REFERENCES [dbo].[EMPRESA] ([IdEmpresa])
GO
ALTER TABLE [dbo].[MODELOCONTRATO] CHECK CONSTRAINT [FK_MODELOCONTRATO_EMPRESA]
GO
ALTER TABLE [dbo].[OPERACAO]  WITH CHECK ADD  CONSTRAINT [FK_OPERACAO_CLIENTE] FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTE] ([IDCLIENTE])
GO
ALTER TABLE [dbo].[OPERACAO] CHECK CONSTRAINT [FK_OPERACAO_CLIENTE]
GO
ALTER TABLE [dbo].[OPERACAO]  WITH CHECK ADD  CONSTRAINT [FK_OPERACAO_EMPRESA] FOREIGN KEY([IDEMPRESA])
REFERENCES [dbo].[EMPRESA] ([IdEmpresa])
GO
ALTER TABLE [dbo].[OPERACAO] CHECK CONSTRAINT [FK_OPERACAO_EMPRESA]
GO
ALTER TABLE [dbo].[OPERACAO]  WITH CHECK ADD  CONSTRAINT [FK_OPERACAO_MODALIDADE] FOREIGN KEY([IDMODALIDADE])
REFERENCES [dbo].[MODALIDADE] ([IDMODALIDADE])
GO
ALTER TABLE [dbo].[OPERACAO] CHECK CONSTRAINT [FK_OPERACAO_MODALIDADE]
GO
ALTER TABLE [dbo].[OPERACAO]  WITH CHECK ADD  CONSTRAINT [FK_OPERACAO_SITUACAOOPERACAO] FOREIGN KEY([IDSITUACAOOPERACAO])
REFERENCES [dbo].[SITUACAOOPERACAO] ([IDSITUACAOOPERACAO])
GO
ALTER TABLE [dbo].[OPERACAO] CHECK CONSTRAINT [FK_OPERACAO_SITUACAOOPERACAO]
GO
ALTER TABLE [dbo].[OPERACAOHISTORICO]  WITH CHECK ADD  CONSTRAINT [FK_OPERACAOHISTORICO_OPERACAO] FOREIGN KEY([IDOPERACAO])
REFERENCES [dbo].[OPERACAO] ([IDOPERACAO])
GO
ALTER TABLE [dbo].[OPERACAOHISTORICO] CHECK CONSTRAINT [FK_OPERACAOHISTORICO_OPERACAO]
GO
ALTER TABLE [dbo].[OPERACAOHISTORICO]  WITH CHECK ADD  CONSTRAINT [FK_OPERACAOHISTORICO_TIPOHISTORICO] FOREIGN KEY([IDTIPOHISTORICO])
REFERENCES [dbo].[TIPOHISTORICO] ([IDTIPOHISTORICO])
GO
ALTER TABLE [dbo].[OPERACAOHISTORICO] CHECK CONSTRAINT [FK_OPERACAOHISTORICO_TIPOHISTORICO]
GO
ALTER TABLE [dbo].[OPERACAOHISTORICO]  WITH CHECK ADD  CONSTRAINT [FK_OPERACAOHISTORICO_USUARIO] FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[USUARIO] ([IdUsuario])
GO
ALTER TABLE [dbo].[OPERACAOHISTORICO] CHECK CONSTRAINT [FK_OPERACAOHISTORICO_USUARIO]
GO
ALTER TABLE [dbo].[OPERACAOPARCELA]  WITH CHECK ADD  CONSTRAINT [FK_OPERACAOPARCELA_OPERACAO] FOREIGN KEY([IDOPERACAO])
REFERENCES [dbo].[OPERACAO] ([IDOPERACAO])
GO
ALTER TABLE [dbo].[OPERACAOPARCELA] CHECK CONSTRAINT [FK_OPERACAOPARCELA_OPERACAO]
GO
ALTER TABLE [dbo].[OPERACAOPARCELA]  WITH CHECK ADD  CONSTRAINT [FK_OPERACAOPARCELA_SITUACAOPARCELA] FOREIGN KEY([IDSITUACAOPARCELA])
REFERENCES [dbo].[SITUACAOPARCELA] ([IDSITUACAOPARCELA])
GO
ALTER TABLE [dbo].[OPERACAOPARCELA] CHECK CONSTRAINT [FK_OPERACAOPARCELA_SITUACAOPARCELA]
GO
ALTER TABLE [dbo].[OPERACAOSALDO]  WITH CHECK ADD  CONSTRAINT [FK_OPERACAOSALDO_OPERACAO] FOREIGN KEY([IDOPERACAO])
REFERENCES [dbo].[OPERACAO] ([IDOPERACAO])
GO
ALTER TABLE [dbo].[OPERACAOSALDO] CHECK CONSTRAINT [FK_OPERACAOSALDO_OPERACAO]
GO
ALTER TABLE [dbo].[PERMISSAO]  WITH CHECK ADD  CONSTRAINT [FK_PERMISSAO_EMPRESA] FOREIGN KEY([IDEMPRESA])
REFERENCES [dbo].[EMPRESA] ([IdEmpresa])
GO
ALTER TABLE [dbo].[PERMISSAO] CHECK CONSTRAINT [FK_PERMISSAO_EMPRESA]
GO
ALTER TABLE [dbo].[SIMULACAO]  WITH CHECK ADD  CONSTRAINT [FK_SIMULACAO_CLIENTE] FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTE] ([IDCLIENTE])
GO
ALTER TABLE [dbo].[SIMULACAO] CHECK CONSTRAINT [FK_SIMULACAO_CLIENTE]
GO
ALTER TABLE [dbo].[SIMULACAO]  WITH CHECK ADD  CONSTRAINT [FK_SIMULACAO_EMPRESA] FOREIGN KEY([IDEMPRESA])
REFERENCES [dbo].[EMPRESA] ([IdEmpresa])
GO
ALTER TABLE [dbo].[SIMULACAO] CHECK CONSTRAINT [FK_SIMULACAO_EMPRESA]
GO
ALTER TABLE [dbo].[SIMULACAOPARCELA]  WITH CHECK ADD  CONSTRAINT [FK_SIMULACAOPARCELA_SIMULACAO] FOREIGN KEY([IDSIMULACAO])
REFERENCES [dbo].[SIMULACAO] ([IDSIMULACAO])
GO
ALTER TABLE [dbo].[SIMULACAOPARCELA] CHECK CONSTRAINT [FK_SIMULACAOPARCELA_SIMULACAO]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_EMPRESA] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[EMPRESA] ([IdEmpresa])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_EMPRESA]
GO
ALTER TABLE [dbo].[USUARIOPERMISSAO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOPERMISSAO_EMPRESA] FOREIGN KEY([IDEMPRESA])
REFERENCES [dbo].[EMPRESA] ([IdEmpresa])
GO
ALTER TABLE [dbo].[USUARIOPERMISSAO] CHECK CONSTRAINT [FK_USUARIOPERMISSAO_EMPRESA]
GO
ALTER TABLE [dbo].[USUARIOPERMISSAO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOPERMISSAO_PERMISSAO] FOREIGN KEY([IDPERMISSAO])
REFERENCES [dbo].[PERMISSAO] ([IDPERMISSAO])
GO
ALTER TABLE [dbo].[USUARIOPERMISSAO] CHECK CONSTRAINT [FK_USUARIOPERMISSAO_PERMISSAO]
GO
ALTER TABLE [dbo].[USUARIOPERMISSAO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOPERMISSAO_USUARIO] FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[USUARIO] ([IdUsuario])
GO
ALTER TABLE [dbo].[USUARIOPERMISSAO] CHECK CONSTRAINT [FK_USUARIOPERMISSAO_USUARIO]
GO
